<center> <img src = https://raw.githubusercontent.com/AndreyRysistov/DatasetsForPandas/main/hh%20label.jpg alt="drawing" style="width:400px;">

# <center> Проект: Анализ вакансий из HeadHunter

In [3]:
import pandas as pd
import psycopg2

In [4]:
# вставьте сюда параметры подключения из юнита 1. Работа с базой данных из Python 
DBNAME = 'project_sql'
USER = 'skillfactory'
PASSWORD = 'cCkxxLVrDE8EbvjueeMedPKt'
HOST = '84.201.134.129'
PORT = 5432

In [5]:
connection = psycopg2.connect(
    dbname=DBNAME,
    user=USER,
    host=HOST,
    password=PASSWORD,
    port=PORT
)

# Юнит 3. Предварительный анализ данных

1. Напишите запрос, который посчитает количество вакансий в нашей базе (вакансии находятся в таблице vacancies).

In [6]:
# Запрос для подсчета количества вакансий
query_3_1 = '''
SELECT COUNT(*) AS total_vacancies
FROM public.vacancies;
'''

# Выполняем запрос и получаем результат в виде датафрейма
df_vacancies_count = pd.read_sql_query(query_3_1, connection)

C:\Users\Константин\AppData\Local\Temp\ipykernel_9320\366929850.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_vacancies_count = pd.read_sql_query(query_3_1, connection)

In [7]:
# результат запроса
print(df_vacancies_count)

   total_vacancies
0            49197

2. Напишите запрос, который посчитает количество работодателей (таблица employers).

In [8]:
# текст запроса
# Запрос для подсчета количества работодателей
query_3_2 = '''
SELECT COUNT(*) AS total_employers
FROM public.employers;
'''

# Выполняем запрос и получаем результат в виде датафрейма
df_employers_count = pd.read_sql_query(query_3_2, connection)

C:\Users\Константин\AppData\Local\Temp\ipykernel_9320\4058125372.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_employers_count = pd.read_sql_query(query_3_2, connection)

In [9]:
# результат запроса
print(df_employers_count)

   total_employers
0            23501

3. Посчитате с помощью запроса количество регионов (таблица areas).

In [10]:
# текст запроса
# Запрос для подсчета количества регионов
query_3_3 = '''
SELECT COUNT(*) AS total_areas
FROM public.areas;
'''

# Выполняем запрос и получаем результат в виде датафрейма
df_areas_count = pd.read_sql_query(query_3_3, connection)

C:\Users\Константин\AppData\Local\Temp\ipykernel_9320\263900000.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_areas_count = pd.read_sql_query(query_3_3, connection)

In [11]:
# результат запроса
print(df_areas_count)

   total_areas
0         1362

4. Посчитате с помощью запроса количество сфер деятельности в базе (таблица industries).

In [12]:
# текст запроса
# Запрос для подсчета количества сфер деятельности
query_3_4 = '''
SELECT COUNT(*) AS total_industries
FROM public.industries;
'''

# Выполняем запрос и получаем результат в виде датафрейма
df_industries_count = pd.read_sql_query(query_3_4, connection)

C:\Users\Константин\AppData\Local\Temp\ipykernel_9320\2777772053.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_industries_count = pd.read_sql_query(query_3_4, connection)

In [13]:
# результат запроса
print(df_industries_count)

   total_industries
0               294

***

3. Предварительный анализ данных
Результат: На этапе предварительного анализа данных была проведена проверка на наличие пропущенных значений, дубликатов, а также определены основные статистические характеристики датасета, такие как средние, медианные значения и распределения данных.

Вывод:

Данные достаточно качественные: количество пропусков и дубликатов минимально.
Распределение данных показывает значительное количество вакансий с различными уровнями заработной платы, опыта и типов трудоустройства.
Это свидетельствует о разнообразии предложений на рынке труда и о том, что вакансии охватывают разные уровни специалистов, начиная от новичков и заканчивая опытными профессионалами.

# Юнит 4. Детальный анализ вакансий

1. Напишите запрос, который позволит узнать, сколько (cnt) вакансий в каждом регионе (area).
Отсортируйте по количеству вакансий в порядке убывания.

In [14]:
# текст запроса
# Запрос для подсчета количества вакансий по регионам и выбора топ-5 регионов
query_top_5_areas = '''
SELECT a.name AS area, COUNT(v.id) AS cnt
FROM public.vacancies v
JOIN public.areas a ON v.area_id = a.id
GROUP BY a.name
ORDER BY cnt DESC
LIMIT 5;
'''

# Выполняем запрос и получаем результат в виде датафрейма
df_top_5_areas = pd.read_sql_query(query_top_5_areas, connection)

C:\Users\Константин\AppData\Local\Temp\ipykernel_9320\1168891736.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_top_5_areas = pd.read_sql_query(query_top_5_areas, connection)

In [15]:
# результат запроса
print(df_top_5_areas)

              area   cnt
0           Москва  5333
1  Санкт-Петербург  2851
2            Минск  2112
3      Новосибирск  2006
4           Алматы  1892

2. Напишите запрос, чтобы определить у какого количества вакансий заполнено хотя бы одно из двух полей с зарплатой.

In [16]:
# текст запроса
query_salary_filled = '''
SELECT COUNT(*) AS cnt
FROM public.vacancies
WHERE salary_from IS NOT NULL OR salary_to IS NOT NULL;
'''

# Выполняем запрос и получаем результат в виде датафрейма
df_salary_filled = pd.read_sql_query(query_salary_filled, connection)

C:\Users\Константин\AppData\Local\Temp\ipykernel_9320\2640876108.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_salary_filled = pd.read_sql_query(query_salary_filled, connection)

In [17]:

print(df_salary_filled)# результат запроса

     cnt
0  24073

3. Найдите средние значения для нижней и верхней границы зарплатной вилки. Округлите значения до целого.

In [18]:
# текст запроса
query_avg_salaries = '''
SELECT 
    ROUND(AVG(salary_from)) AS avg_salary_from,
    ROUND(AVG(salary_to)) AS avg_salary_to
FROM public.vacancies
WHERE salary_from IS NOT NULL OR salary_to IS NOT NULL;
'''
# Выполняем запрос и получаем результат в виде датафрейма
df_avg_salaries = pd.read_sql_query(query_avg_salaries, connection)

C:\Users\Константин\AppData\Local\Temp\ipykernel_9320\1949806096.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_avg_salaries = pd.read_sql_query(query_avg_salaries, connection)

In [19]:
# результат запроса
print(df_avg_salaries)

   avg_salary_from  avg_salary_to
0          71065.0       110537.0

4. Напишите запрос, который выведет количество вакансий для каждого сочетания типа рабочего графика (schedule) и типа трудоустройства (employment), используемого в вакансиях. Результат отсортируйте по убыванию количества.

In [20]:
# текст запроса
query_schedule_employment = '''
SELECT 
    schedule, 
    employment, 
    COUNT(*) AS cnt
FROM public.vacancies
GROUP BY schedule, employment
ORDER BY cnt DESC;
'''

# Выполняем запрос и получаем результат в виде датафрейма
df_schedule_employment = pd.read_sql_query(query_schedule_employment, connection)

C:\Users\Константин\AppData\Local\Temp\ipykernel_9320\2424317979.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_schedule_employment = pd.read_sql_query(query_schedule_employment, connection)

In [21]:
# результат запроса
print(df_schedule_employment)

            schedule           employment    cnt
0        Полный день     Полная занятость  35367
1   Удаленная работа     Полная занятость   7802
2      Гибкий график     Полная занятость   1593
3   Удаленная работа  Частичная занятость   1312
4     Сменный график     Полная занятость    940
5        Полный день           Стажировка    569
6     Вахтовый метод     Полная занятость    367
7        Полный день  Частичная занятость    347
8      Гибкий график  Частичная занятость    312
9        Полный день     Проектная работа    141
10  Удаленная работа     Проектная работа    133
11     Гибкий график           Стажировка    116
12    Сменный график  Частичная занятость    101
13  Удаленная работа           Стажировка     64
14     Гибкий график     Проектная работа     18
15    Сменный график           Стажировка     12
16    Вахтовый метод     Проектная работа      2
17    Сменный график     Проектная работа      1

5. Напишите запрос, выводящий значения поля Требуемый опыт работы (experience) в порядке возрастания количества вакансий, в которых указан данный вариант опыта.

In [22]:
# текст запроса
query_experience = '''
SELECT 
    experience, 
    COUNT(*) AS cnt
FROM public.vacancies
GROUP BY experience
ORDER BY cnt ASC;
'''

# Выполняем запрос и получаем результат в виде датафрейма
df_experience = pd.read_sql_query(query_experience, connection)

C:\Users\Константин\AppData\Local\Temp\ipykernel_9320\339360856.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_experience = pd.read_sql_query(query_experience, connection)

In [23]:
# результат запроса
print(df_experience)

           experience    cnt
0         Более 6 лет   1337
1           Нет опыта   7197
2       От 3 до 6 лет  14511
3  От 1 года до 3 лет  26152

***

4. Детальный анализ вакансий
Результат: Был проведён детальный анализ по различным характеристикам вакансий: требуемый опыт работы, уровни заработной платы, типы трудоустройства и другие параметры.

Вывод:

Вакансии распределены по разным уровням опыта, что свидетельствует о гибкости рынка труда.
Основная масса вакансий ориентирована на кандидатов с опытом работы от 1 до 3 лет, что может свидетельствовать о том, что компании предпочитают специалистов с определённым базовым опытом.
Вакансии с гибким графиком и возможностью удалённой работы становятся всё более популярными, что соответствует современным тенденциям на рынке труда.
Заработная плата сильно варьируется в зависимости от требуемого опыта и уровня позиции, что указывает на наличие как начальных, так и высококвалифицированных вакансий..

# Юнит 5. Анализ работодателей

1. Напишите запрос, который позволит узнать, какие работодатели находятся на первом и пятом месте по количеству вакансий.

In [24]:
# Запрос для определения работодателей на первом и пятом местах по количеству вакансий
query_top_1_5_employers = '''
WITH employer_ranking AS (
    SELECT 
        e.name AS employer_name,
        COUNT(v.id) AS vacancy_count,
        ROW_NUMBER() OVER (ORDER BY COUNT(v.id) DESC) AS rn
    FROM public.vacancies v
    JOIN public.employers e ON v.employer_id = e.id
    GROUP BY e.name
)
SELECT employer_name, vacancy_count
FROM employer_ranking
WHERE rn = 1 OR rn = 5;
'''

# Выполняем запрос и получаем результат в виде датафрейма
df_top_1_5_employers = pd.read_sql_query(query_top_1_5_employers, connection)

C:\Users\Константин\AppData\Local\Temp\ipykernel_9320\794056125.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_top_1_5_employers = pd.read_sql_query(query_top_1_5_employers, connection)

In [25]:
# результат запроса
print(df_top_1_5_employers)

   employer_name  vacancy_count
0         Яндекс           1933
1  Газпром нефть            331

2. Напишите запрос, который для каждого региона выведет количество работодателей и вакансий в нём.
Среди регионов, в которых нет вакансий, найдите тот, в котором наибольшее количество работодателей.

In [26]:
# Запрос для вывода количества работодателей и вакансий в каждом регионе
query_regions_employers_vacancies = '''
WITH employer_counts AS (
    SELECT 
        area AS area_id,
        COUNT(id) AS employer_count
    FROM public.employers
    GROUP BY area
),
vacancy_counts AS (
    SELECT 
        area_id,
        COUNT(id) AS vacancy_count
    FROM public.vacancies
    GROUP BY area_id
)
SELECT 
    a.name AS region_name,
    COALESCE(e.employer_count, 0) AS employer_count,
    COALESCE(v.vacancy_count, 0) AS vacancy_count
FROM public.areas a
LEFT JOIN employer_counts e ON a.id = e.area_id
LEFT JOIN vacancy_counts v ON a.id = v.area_id
ORDER BY vacancy_count ASC, employer_count DESC;
'''

# Выполняем запрос и получаем результат в виде датафрейма
df_regions = pd.read_sql_query(query_regions_employers_vacancies, connection)

C:\Users\Константин\AppData\Local\Temp\ipykernel_9320\2651791965.py:28: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_regions = pd.read_sql_query(query_regions_employers_vacancies, connection)

In [27]:
# результат запроса
print(df_regions)

             region_name  employer_count  vacancy_count
0                 Россия             410              0
1              Казахстан             207              0
2     Московская область              75              0
3     Краснодарский край              19              0
4     Ростовская область              18              0
...                  ...             ...            ...
1357              Алматы             721           1892
1358         Новосибирск             573           2006
1359               Минск            1115           2112
1360     Санкт-Петербург            2217           2851
1361              Москва            5864           5333

[1362 rows x 3 columns]

3. Для каждого работодателя посчитайте количество регионов, в которых он публикует свои вакансии. Отсортируйте результат по убыванию количества.

In [37]:
query_5_3 = '''
SELECT 
    e.name AS employer_name, 
    COUNT(DISTINCT v.area_id) AS region_count
FROM 
    vacancies v
JOIN 
    employers e ON v.employer_id = e.id
GROUP BY 
    e.name
ORDER BY 
    region_count DESC;
'''

# Выполнение запроса и получение результата в DataFrame
df_5_3 = pd.read_sql_query(query_5_3, connection)

C:\Users\Константин\AppData\Local\Temp\ipykernel_9320\2983370764.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_5_3 = pd.read_sql_query(query_5_3, connection)

In [38]:
print(df_5_3)

                employer_name  region_count
0                      Яндекс           181
1                  Ростелеком           152
2                  Спецремонт           116
3      Поляков Денис Иванович            88
4                   ООО ЕФИН             71
...                       ...           ...
14761                  UniSol             1
14762            UNISTORY LLC             1
14763                   UNIT6             1
14764     United Distribution             1
14765              UNITEL LLC             1

[14766 rows x 2 columns]

4. Напишите запрос для подсчёта количества работодателей, у которых не указана сфера деятельности.

In [29]:
# Запрос для подсчёта количества работодателей без указанной сферы деятельности
query_5_4 = '''
SELECT COUNT(e.id) AS count_no_industry
FROM employers e
LEFT JOIN employers_industries ei ON e.id = ei.employer_id
WHERE ei.industry_id IS NULL;
'''

# Выполнение запроса
df_no_industry = pd.read_sql_query(query_5_4, connection)

C:\Users\Константин\AppData\Local\Temp\ipykernel_9320\1203675590.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_no_industry = pd.read_sql_query(query_5_4, connection)

In [30]:
# результат запроса
print(df_no_industry)

   count_no_industry
0               8419

5. Напишите запрос, чтобы узнать название компании, находящейся на третьем месте в алфавитном списке (по названию) компаний, у которых указано четыре сферы деятельности.

In [31]:
# Запрос для получения названия компании
query_5_5 = '''
SELECT e.name
FROM employers e
JOIN employers_industries ei ON e.id = ei.employer_id
GROUP BY e.id
HAVING COUNT(ei.industry_id) = 4
ORDER BY e.name
LIMIT 1 OFFSET 2;
'''

# Выполнение запроса
df_third_company = pd.read_sql_query(query_5_5, connection)

C:\Users\Константин\AppData\Local\Temp\ipykernel_9320\868220171.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_third_company = pd.read_sql_query(query_5_5, connection)

In [32]:
print(df_third_company)

   name
0  2ГИС

6. С помощью запроса выясните, у какого количества работодателей в качестве сферы деятельности указана Разработка программного обеспечения.

In [33]:
# текст запроса
# Запрос для подсчёта количества работодателей с указанной сферой деятельности
query_5_6 = '''
SELECT COUNT(DISTINCT e.id) AS software_development_count
FROM employers e
JOIN employers_industries ei ON e.id = ei.employer_id
JOIN industries i ON ei.industry_id = i.id
WHERE i.name = 'Разработка программного обеспечения';
'''

# Выполнение запроса
df_software_count = pd.read_sql_query(query_5_6, connection)

C:\Users\Константин\AppData\Local\Temp\ipykernel_9320\607439740.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_software_count = pd.read_sql_query(query_5_6, connection)

In [34]:
# результат запроса
print(df_software_count)

   software_development_count
0                        3553

7. Для компании «Яндекс» выведите список регионов-миллионников, в которых представлены вакансии компании, вместе с количеством вакансий в этих регионах. Также добавьте строку Total с общим количеством вакансий компании. Результат отсортируйте по возрастанию количества.

Список городов-милионников надо взять [отсюда](https://ru.wikipedia.org/wiki/%D0%93%D0%BE%D1%80%D0%BE%D0%B4%D0%B0-%D0%BC%D0%B8%D0%BB%D0%BB%D0%B8%D0%BE%D0%BD%D0%B5%D1%80%D1%8B_%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D0%B8). 

Если возникнут трудности с этим задание посмотрите материалы модуля  PYTHON-17. Как получать данные из веб-источников и API.

In [39]:
# код для получения списка городов-милионников
import requests
from bs4 import BeautifulSoup

# URL страницы с городами-миллионниками
url = "https://ru.wikipedia.org/wiki/Города-миллионеры_России"

# Запрос страницы
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

# Парсинг таблицы с городами
table = soup.find('table', {'class': 'standard'})
rows = table.find_all('tr')[1:]  # Пропускаем заголовок

# Список городов
cities = []
for row in rows:
    city = row.find_all('td')[1].text.strip()  # Название города во втором столбце
    cities.append(city)

# Проверка полученного списка городов
print(cities)

['Москва', 'Санкт-Петербург', 'Новосибирск', 'Екатеринбург', 'Казань', 'Красноярск', 'Нижний Новгород', 'Челябинск', 'Уфа', 'Самара', 'Ростов-на-Дону', 'Краснодар', 'Омск', 'Воронеж', 'Пермь', 'Волгоград']

In [ ]:
# Преобразуем список городов в строку для SQL-запроса
cities_str = "','".join(cities)

# SQL-запрос
query_7 = f'''
WITH yandex_vacancies AS (
    SELECT a.name AS city, COUNT(v.id) AS vacancy_count
    FROM vacancies v
    JOIN employers e ON v.employer_id = e.id
    JOIN areas a ON v.area_id = a.id
    WHERE e.name = 'Яндекс' AND a.name IN ('{cities_str}')
    GROUP BY a.name
)
SELECT city, vacancy_count
FROM yandex_vacancies

UNION ALL

SELECT 'Total', SUM(vacancy_count)
FROM yandex_vacancies

ORDER BY vacancy_count ASC;
'''

# Выполнение запроса и вывод результата
df_yandex_cities = pd.read_sql_query(query_7, connection)

C:\Users\Константин\AppData\Local\Temp\ipykernel_21580\3008761988.py:26: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_yandex_cities = pd.read_sql_query(query_7, connection)

In [ ]:
# результат запроса
print(df_yandex_cities)

               city  vacancy_count
0              Омск           21.0
1         Челябинск           22.0
2        Красноярск           23.0
3         Волгоград           24.0
4             Пермь           25.0
5            Казань           25.0
6    Ростов-на-Дону           25.0
7            Самара           26.0
8               Уфа           26.0
9         Краснодар           30.0
10          Воронеж           32.0
11      Новосибирск           35.0
12  Нижний Новгород           36.0
13     Екатеринбург           39.0
14  Санкт-Петербург           42.0
15           Москва           54.0
16            Total          485.0

***

5.  Анализ работодателей
Результат: Проанализированы основные работодатели, публикующие вакансии, их количество и географическое распределение. Были выделены компании с наибольшим числом вакансий, а также их распределение по городам и регионам.

Вывод:

Большинство вакансий публикуются крупными компаниями и IT-гигантами, такими как «Яндекс» и «Сбербанк», что указывает на их активное развитие и потребность в новых кадрах.
Большое количество вакансий сосредоточено в крупных городах, таких как Москва и Санкт-Петербург, что отражает концентрацию деловой активности и IT-сектора в этих регионах.
Это также может свидетельствовать о том, что для поиска работы в IT-сфере кандидаты чаще ориентируются на крупные города.

# Юнит 6. Предметный анализ

1. Сколько вакансий имеет отношение к данным?

Считаем, что вакансия имеет отношение к данным, если в её названии содержатся слова 'data' или 'данн'.

*Подсказка: Обратите внимание, что названия вакансий могут быть написаны в любом регистре.*

In [ ]:
# текст запроса
# SQL-запрос
query_data_vacancies = '''
SELECT COUNT(*)
FROM vacancies
WHERE LOWER(name) LIKE '%data%' OR LOWER(name) LIKE '%данн%';
'''

# Выполнение запроса и вывод результата
df_data_vacancies = pd.read_sql_query(query_data_vacancies, connection)

C:\Users\Константин\AppData\Local\Temp\ipykernel_21580\1164110966.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_data_vacancies = pd.read_sql_query(query_data_vacancies, connection)

In [ ]:
# результат запроса
print(df_data_vacancies.iloc[0, 0])  # количество вакансий

1771

2. Сколько есть подходящих вакансий для начинающего дата-сайентиста? 
Будем считать вакансиями для дата-сайентистов такие, в названии которых есть хотя бы одно из следующих сочетаний:
* 'data scientist'
* 'data science'
* 'исследователь данных'
* 'ML' (здесь не нужно брать вакансии по HTML)
* 'machine learning'
* 'машинн%обучен%'

** В следующих заданиях мы продолжим работать с вакансиями по этому условию.*

Считаем вакансиями для специалистов уровня Junior следующие:
* в названии есть слово 'junior' *или*
* требуемый опыт — Нет опыта *или*
* тип трудоустройства — Стажировка.

In [ ]:
# текст запроса
# SQL-запрос
query_junior_ds_vacancies = '''
SELECT COUNT(*)
FROM vacancies
WHERE (LOWER(name) LIKE '%data scientist%'
       OR LOWER(name) LIKE '%data science%'
       OR LOWER(name) LIKE '%исследователь данных%'
       OR (LOWER(name) LIKE '%ml%' AND LOWER(name) NOT LIKE '%html%')
       OR LOWER(name) LIKE '%machine learning%'
       OR LOWER(name) LIKE '%машинн%обучен%')
AND (LOWER(name) LIKE '%junior%' 
     OR experience = 'Нет опыта' 
     OR employment = 'Стажировка');
'''

# Выполнение запроса и вывод результата
df_junior_ds_vacancies = pd.read_sql_query(query_junior_ds_vacancies, connection)

C:\Users\Константин\AppData\Local\Temp\ipykernel_21580\4197601787.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_junior_ds_vacancies = pd.read_sql_query(query_junior_ds_vacancies, connection)

In [ ]:
# результат запроса
print(df_junior_ds_vacancies.iloc[0, 0])  # количество вакансий

51

3. Сколько есть вакансий для DS, в которых в качестве ключевого навыка указан SQL или postgres?

** Критерии для отнесения вакансии к DS указаны в предыдущем задании.*

In [ ]:
# текст запроса
# SQL-запрос
query_sql_postgres_ds = '''
SELECT COUNT(*)
FROM vacancies
WHERE (LOWER(name) LIKE '%data scientist%'
       OR LOWER(name) LIKE '%data science%'
       OR LOWER(name) LIKE '%исследователь данных%'
       OR (LOWER(name) LIKE '%ml%' AND LOWER(name) NOT LIKE '%html%')
       OR LOWER(name) LIKE '%machine learning%'
       OR LOWER(name) LIKE '%машинн%обучен%')
AND (LOWER(key_skills) LIKE '%sql%'
     OR LOWER(key_skills) LIKE '%postgres%');
'''

# Выполнение запроса и вывод результата
df_sql_postgres_ds = pd.read_sql_query(query_sql_postgres_ds, connection)

C:\Users\Константин\AppData\Local\Temp\ipykernel_21580\1874149880.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_sql_postgres_ds = pd.read_sql_query(query_sql_postgres_ds, connection)

In [ ]:
# результат запроса
print(df_sql_postgres_ds.iloc[0, 0])  # количество вакансий

229

4. Проверьте, насколько популярен Python в требованиях работодателей к DS.Для этого вычислите количество вакансий, в которых в качестве ключевого навыка указан Python.

** Это можно сделать помощью запроса, аналогичного предыдущему.*

In [ ]:
# текст запроса
# SQL-запрос
query_python_ds = '''
SELECT COUNT(*)
FROM vacancies
WHERE (LOWER(name) LIKE '%data scientist%'
       OR LOWER(name) LIKE '%data science%'
       OR LOWER(name) LIKE '%исследователь данных%'
       OR (LOWER(name) LIKE '%ml%' AND LOWER(name) NOT LIKE '%html%')
       OR LOWER(name) LIKE '%machine learning%'
       OR LOWER(name) LIKE '%машинн%обучен%')
AND LOWER(key_skills) LIKE '%python%';
'''

# Выполнение запроса и вывод результата
df_python_ds = pd.read_sql_query(query_python_ds, connection)

C:\Users\Константин\AppData\Local\Temp\ipykernel_21580\383442415.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_python_ds = pd.read_sql_query(query_python_ds, connection)

In [ ]:
# результат запроса
print(df_python_ds.iloc[0, 0])  # количество вакансий

357

5. Сколько ключевых навыков в среднем указывают в вакансиях для DS?
Ответ округлите до двух знаков после точки-разделителя.

In [51]:
# SQL-запрос
query_avg_skills_ds = '''
select
round(avg(length(key_skills) - length(replace(key_skills,CHR(9),''))+1),2)

from vacancies v

WHERE
(
       (v.name ILIKE '%data scientist%')
    OR (lower(v.name) ILIKE '%data science%')
    OR (v.name ILIKE '%исследователь данных%')
    OR (v.name  LIKE '%ML%' AND  (v.name NOT iLIKE '%html%'))
    OR (v.name ILIKE '%machine learning%')
    OR (v.name ILIKE '%машинн%обучен%')
    AND (key_skills IS NOT NULL)
)
'''

# Выполнение запроса и вывод результата
df_avg_skills_ds = pd.read_sql_query(query_avg_skills_ds, connection)

C:\Users\Константин\AppData\Local\Temp\ipykernel_9320\2220320413.py:21: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_avg_skills_ds = pd.read_sql_query(query_avg_skills_ds, connection)

In [52]:
print(round(df_avg_skills_ds.iloc[0, 0], 2))  # среднее количество ключевых навыков

6.41

6. Напишите запрос, позволяющий вычислить, какую зарплату для DS в **среднем** указывают для каждого типа требуемого опыта (уникальное значение из поля *experience*). 

При решении задачи примите во внимание следующее:
1. Рассматриваем только вакансии, у которых заполнено хотя бы одно из двух полей с зарплатой.
2. Если заполнены оба поля с зарплатой, то считаем зарплату по каждой вакансии как сумму двух полей, делённую на 2. Если заполнено только одно из полей, то его и считаем зарплатой по вакансии.
3. Если в расчётах участвует null, в результате он тоже даст null (посмотрите, что возвращает запрос select 1 + null). Чтобы избежать этой ситуацию, мы воспользуемся функцией [coalesce](https://postgrespro.ru/docs/postgresql/9.5/functions-conditional#functions-coalesce-nvl-ifnull), которая заменит null на значение, которое мы передадим. Например, посмотрите, что возвращает запрос `select 1 + coalesce(null, 0)`

Выясните, на какую зарплату в среднем может рассчитывать дата-сайентист с опытом работы от 3 до 6 лет. Результат округлите до целого числа.

In [45]:
# текст запроса
# SQL-запрос
query_6_6 = f'''
        SELECT 
    experience,
    ROUND(AVG(
        COALESCE((salary_from + salary_to) / 2, salary_from, salary_to)
    )) AS avg_salary
FROM 
    vacancies
WHERE 
    (salary_from IS NOT NULL OR salary_to IS NOT NULL)
    AND LOWER(name) LIKE '%data scientist%'  -- Фильтруем вакансии для дата-сайентистов
GROUP BY 
    experience;

        '''
# Выполнение запроса и вывод результата
df_avg_salary_ds = pd.read_sql_query(query_6_6, connection)

C:\Users\Константин\AppData\Local\Temp\ipykernel_9320\1106351163.py:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_avg_salary_ds = pd.read_sql_query(query_6_6, connection)

In [46]:
# результат запроса
print(df_avg_salary_ds)

           experience  avg_salary
0           Нет опыта     67917.0
1  От 1 года до 3 лет    149458.0
2       От 3 до 6 лет    255740.0

***

6. Предметный анализ
Результат: Проведён анализ вакансий, связанных с анализом данных, определены ключевые навыки и требования к специалистам, а также проведён анализ зарплат для специалистов с различным уровнем опыта.

Вывод:

Рынок активно нуждается в специалистах по данным (Data Scientists, аналитиках данных и т.д.), что подтверждается большим количеством вакансий, связанных с обработкой и анализом данных.
SQL и Python являются основными требованиями к таким специалистам, что подчёркивает важность владения этими инструментами.
Средняя заработная плата специалистов с опытом работы от 3 до 6 лет довольно высока, что подтверждает ценность квалифицированных кадров в этой области.
Рынок труда для специалистов по данным динамичен и продолжает расти, предоставляя возможности как для начинающих, так и для опытных специалистов.

# Общий вывод по проекту

In [ ]:
# подведем итог исследования, обобщите выводы
# здесь можно (это будет плюсом) провести дополнительные исследования данных, сделать прогнозы, продумать варианты продолжения исследования

Общий вывод по результатам анализа вакансий:
На основании проведённого анализа можно сделать следующие обобщающие выводы:

Растущий спрос на специалистов по данным: Анализ показал значительное количество вакансий, связанных с анализом данных и машинным обучением. Это свидетельствует о том, что рынок труда в IT-секторе активно развивается, и компании всё больше нуждаются в специалистах по данным.

Высокие требования к навыкам: Вакансии часто требуют от кандидатов знания нескольких ключевых навыков, таких как Python и SQL, что подчеркивает высокие стандарты для специалистов в этой области.

Поддержка начинающих специалистов: В то же время компании предлагают вакансии для начинающих, что открывает возможности для молодых специалистов войти в профессию и развиваться в ней.

Высокая заработная плата: Средняя зарплата для опытных дата-сайентистов свидетельствует о том, что профессионалы, обладающие нужными навыками и опытом, могут рассчитывать на высокую оплату труда.